* {
    padding: 0;
    margin:0;
}

.body {
    background-color: rgb(216, 231, 245);
}

.header-top {
    padding: 10px;
}

.header-campana{
    width: 100%;
    height: autopx;
}

.header-campana > img{
    width: 60%;
}

.header-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: orange;
}
.header-title > h3 {
    text-align: left;
}

.header-bottom-content {
    margin-top: 10px;
}

.header-bottom .class {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: aquamarine;
    padding: 9px 18px 0 18px;
}
.header-img {
    max-width: 100%;
    width: auto;
    padding: 0 !important;
    text-align: center;
}

.imagen{
    
    height: 2rem;
    max-width: 100%;
}



/*Foooter*/
footer {
    background-color: aquamarine;
    padding: 9px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-padre {
    height: 30px;
    --bs-gutter-x:0;   
    padding: 3px;
}

.footer {
    border: 1px;
    display: flex;
    height: 100%;
}

.footer > svg {
    color: gray;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer > svg:hover{
    color: aqua;

}
/*-Foooter-*/


/*Sugerencias*/
.sug-image-padre {
    width: 100%;
    height: 100%; 
    background-color:#FBF4D9; 
    margin-left: 0px;  
    border-radius: 20px
}
.sug-image{
    width: 25%; 
    height: 200px;
    margin: 20px; 
    border-radius: 50%; 
    background-size: cover
}

.cont-sug {
    font-size: 35px;
    color: orange;
    font-weight: bold;
}
/*Sugerencias*/



@media screen and (max-width:450px) {
    .header-bottom .class {
        width: 100%;
        height: 80px;
        border: 1px solid;
        border-radius: 50%;
        padding: 9px 0px 0 0px;
    }

    .header-campana > img{
        width: 100%;
    }

    .header-img {
        padding: 0 15px 0 15px;
    }

    .sugerencias {
        height: 100px;
    }

    .sug-image-padre{
        align-items: center;
        width: 100%;
        height: auto;
    }

    .sug-image {
        margin: 15px;
        width: 23%;
        height: 70px;
        padding: 10px;
    }

    .header-bottom .class {
        border: 0px;
        background: rgb(153, 255, 127);
    }
    .header-bottom-content {
        margin-top: 10px;
    }
    .cont-sug {
        font-size: 15px;
        color: orange;
        font-weight: bold;
    }
}